<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='asgstyle.css')}}"/>
    <link rel="icon" href="{{url_for('static',filename='logo.png')}}"/>
</head>
<body>
    <nav>

        <div class="div_nav">
            <button id="menuButton">&#9776; Menu</button>
            <div id="menu">
                <h2>AYU/SOFT GAMES</h2> <img src="{{url_for('static', filename='logo.png')}}">
                <a href={{url_for('home')}}>Home</a>
                <a href={{url_for('about')}}>About</a>
                <a href={{url_for('library')}}>Library</a>
                <a href={{url_for('prerelease')}}>Pre-released</a>
                <a href={{url_for('discord')}}>Discord server</a>
                <a href={{url_for('contact')}}>Contact</a>
            </div>
        </div>

    </nav>
    <div id="custom-cursor">
        <div id="center-point"></div>
    </div>
    {%block content%}
    {%endblock%}
    <script src="{{url_for('static', filename='scrpt.js')}}"></script>
</body>
</html>